.user-display--component {
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #222;
    background: floralwhite;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    font-size: .8rem;
    overflow: auto;
    margin-right: 12px;
    cursor: pointer;
    user-select: none;
}
.user-display--component div {
    text-align: center;
    float: left;
}
.user-display--component img {
    height: 60px;
}