* {
  margin: 0; padding: 0; box-sizing: border-box; font-family: inherit; color: inherit;
}
.app--component {
  min-height: 100vh;
  width: 100%;
  background: lightseagreen;
  padding: 1rem 2rem; 
  background-image: url('http://jonvilma.com/images/space-9.jpg');
  background-repeat: repeat-y;

  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}
.app--component H3 {
  margin-bottom: .6rem;
  color: #eee;
}
.users--container {
  display: flex;
  flex-wrap: wrap;
}