@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  margin: 0; padding: 0; box-sizing: border-box; font-family: 'Oswald', sans-serif; color: inherit;
}
.app--component {
  min-height: 100vh;
  width: 100%;
  padding: 1rem 2rem; 
  background: lightseagreen;
  background-image: url('http://jonvilma.com/images/space-9.jpg');
  background-repeat: repeat-y;
  color: #222;
}
.app--component H3 {
  margin-bottom: .6rem;
  color: #eee;
}
.users--container {
  display: flex;
  flex-wrap: wrap;
}